{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row p-5">
        <div class="col-md-6 mx-auto p-4">
           <div class="card shadow shadow-lg">
                <div class="card-body">
                    <h3 class="text-danger">Are you sure want to delete?</h3>
                    
                    <h4>{{photo.location}}</h4>
                    <form action="{% url 'delete' photo.id %}" method="POST">
                        {% csrf_token %}
                        <div class="">
                            <button type="submit" class="btn btn-danger">Confirm Delete</button>
                            <a href="{% url 'buy'%}" class="btn btn-warning">Cancel</a>
                        </div>
                    </form>
                </div>
           </div>           
        </div>
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}");
    

</script>
{% endif %}
{% endblock %}