{% extends 'base.html'%}
{% load static%}
{% block content %}

<section class="items-grid section p-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Top Recommended Properties For You...</h2>
            </div>
        </div>
        <div class="single-head">
            <div class="row">
                {% if property_list %}
                {% for photo in property_list %}
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Grid -->
                    <div class="single-grid wow fadeInUp" data-wow-delay=".2s">
                        <div class="image">
                            <a href="item-details.html" class="thumbnail"><img src="{{photo.image.url}}"
                                    style="height: 350px;" alt="no-image"></a>
                            <div class="author text-white">


                                <i>Property Seller, {{photo.author}}</i></a>

                                <a class="sale" href="{% url 'detail' photo.id %}">View Detail</a>
                            </div>
                        </div>
                        <div class="content">
                            <div class="top-content">
                                 <i> Category: {{photo.category.name}} </i>
                                <h3 class="title">
                                    <i> {{photo.description}} </i>
                                </h3>
                                <ul class="info text-success">
                                   <i class="lni lni-map-marker text-primary"></i>
                                            {{photo.location}}, Nepal</li>

                                    </li>
                                </ul>
                            </div>
                            <div class="bottom-content">
                                <p class="price"><i> Price:<span>NRs. {{photo.price}}</span></i></p>
                            </div>

                        </div>
                    </div>
                    <!-- End Single Grid -->
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


</section>

{% endblock %}