{% extends 'base.html' %}

{% block content %}

<section class="items-grid section">
    <div class="container">
        <div class="row">
            <div class="col-md-2 m-4">
                <div class="card-1 shadow-lg p-3 mb-5 rounded">
                    <div class="card-header">
                        Categories
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a class="nav-link text-dark " href="{% url 'buy' %}"> ALL</a></li>
                        {% for category in categories %}
                        <li class="list-group-item">
                            <a class="nav-link text-dark" href="{% url 'buy' %}{{category.slug}}">
                                {{category.name}} </a>
                        </li>
                        {% endfor %}

                        <a href="{% url 'add' %}" style="background-color: #5830E0;"
                            class="btn btn-dark btn-block btn-sm m-1">Sell your Property</a>

                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <span class="text-muted "> Search result for "{{request.GET.q}}" </span>
                <div class="search-form wow fadeInUp" data-wow-delay=".7s" style="margin-top: 5px;">
                    <div class="row">
                        <div class="col-lg-10 col-md-4 col-12 p-0">
                            <form action="/search">
                                <div class="search-input">
                                    <label for="keyword"><i class="lni lni-search-alt theme-color"></i></label>
                                    <input type="text" name="q" id="keyword"
                                        placeholder="Search for Properties, Location">
                                </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12 p-0">
                            <div class="search-btn button">
                                <button class="btn"><i class="lni lni-search-alt"></i> Search</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="row">

                    {% for photo in photos %}

                    <div class="col-md-4">
                        <!-- Start Single Grid -->
                        <div class="single-grid wow fadeInUp" data-wow-delay=".2s">
                            <div class="image" style="width: 100%;">
                                <a href="item-details.html" class="thumbnail"><img src="{{photo.image.url}}"
                                        style="height: 280px;" alt="#"></a>
                                <div class="author text-white">
                                    
                                        <i>Property Seller, {{photo.author}} </i>
                                  
                                    <a class="sale" href="{% url 'detail' photo.id %}">View Detail</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="top-content">
                                    <i class="">Category: {{photo.category.name}}</i></li>

                                    <h3 class="title">
                                        <i> {{photo.description}} </i>
                                    </h3>
                                    <ul class="info text-success">
                                        <li><i class="lni lni-map-marker text-primary"></i>{{photo.location}}, Nepal</a>
                                        </li>

                                    </ul>

                                </div>
                                <div class="bottom-content">
                                    <p class="price"><i> Price: <span>NRs. {{photo.price}}</span></i></p>
                                    
                                </div>

                            </div>
                        </div>
                        <!-- End Single Grid -->
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}